@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home Page";
}

<h2>lala</h2>
@if (User.Identity.IsAuthenticated)
{
    @*<partial name="SandboxList.cshtml" />*@
    @await Html.PartialAsync("SandboxList.cshtml");
}

